$gutter: 10px;
$initial: 7;
$finish: 21;

.schedule {
	font-size: 0.7rem;
	padding: $gutter;
	text-align: center;
	display: grid;
	grid-template-columns: 100px repeat(7, 1fr);
	grid-gap: $gutter;
}

@for $i from $initial through $finish {
	@for $j from $initial through $finish {
		@if $i == $j {
			.time-#{$i} {
				grid-row: $i - $initial + 2;
			}
		} @else if $i < $j {
			.time-#{$i}-#{$j} {
				grid-row: #{$i - $initial + 2} / #{$j - $initial + 2};
			}
		}
	}
}

@for $i from 0 through 7 {
	.day-#{$i} {
		grid-column: $i + 1;
	}
}

.day {
	padding: $gutter 0;
	margin: 0;
	background: #ccc;
}

.time {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ddd;
	margin: 0;
	padding: $gutter;
}

.subject {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: $gutter;
	
	p {
		margin: 0.3em 0;
	}
	
	&.class {
		background: hsl(120, 80, 80);
	}
	
	&.sport {
		background: hsl(240, 80, 80);
	}
	
	&.monitory {
		background: hsl(0, 80, 80);
	}
	
	&.extra {
		background: hsl(180, 80, 80);
	}
	
	&.group {
		background: hsl(60, 80, 80);
	}
}